* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Mulish;
  font-weight: 600;
}
html,
body {
  height: 100%;
  width: 100%;
}
nav {
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-evenly;
}
#netlifylogo {
  height: 70px;
  width: 130px;
}
#Layer_1 {
  height: 20px;
  width: 20px;
  cursor: pointer;
}
span {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  color: #676868;
}
.leftnav {
  display: flex;
  margin-left: 16px;
  align-items: center;
  gap: 1vw;
}
#platformfeatures {
  border: 2px solid transparent;
  padding: 0.5vw 0.5vw;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  color: #676868;
}
#platformfeatures:hover {
  border: 2px solid rgb(38, 38, 150);
  border-radius: 6px;
}
#solutionsfeatures {
  padding: 0.5vw 0.5vw;
  border: 2px solid transparent;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  color: #676868;
}
#solutionsfeatures:hover {
  border: 2px solid rgb(38, 38, 150);
  border-radius: 6px;
}
#buildingfeatures {
  height: 50px;
  padding: 0.5vw 0.5vw;
  border: 2px solid transparent;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  color: #676868;
}
#buildingfeatures:hover {
  border: 2px solid rgb(38, 38, 150);
  border-radius: 6px;
}
.rightnav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.3vw;
  margin-right: 16px;
}
#signup {
  background-color: rgb(63, 63, 253);
  color: rgb(248, 243, 243);
  padding: 0.7vw 1vw;
  border-radius: 8px;
}
#signup:hover {
  background-color: #2036a1;
}
.mainsection {
  height: 100%;
  width: 100%;

  background: linear-gradient(to top, white 20%, #2841be 20%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.topinfocontainer {
  width: 100%;
  background: linear-gradient(to top, #2841be, #1b215e);
}
.landingpagewelcomecontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6rem;
}
.landingpagewelcome {
  font-size: 64.16px;
  color: rgb(248, 243, 243);
  font-weight: bolder;
  cursor: auto;
}
.landingpageotherinfo {
  font-size: 18px;
  color: rgb(248, 243, 243);
  line-height: 30px;
  cursor: auto;
}
.landingpageotherinfocontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
.circle {
  margin-left: 3px;
  width: 12px;
  height: 12px;
  background-color: rgb(248, 243, 243);
  border-radius: 50%;
}
.landingpagebtncontainer {
  margin-top: 23px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1vw;
}
#landingpagebtn1 {
  background-color: #14d9d4;
  padding: 0.7vw 2.2vw;
  color: #0e5958;
  font-weight: 900;
  border-radius: 7px;
}
#landingpagebtn1:hover {
  background-color: #8efbf7;
}
#landingpagebtn2 {
  padding: 0.5vw 2.2vw;
  border: 1px solid white;
  border-radius: 7px;
  color: white;
  font-weight: 900;
}
.videocontainer {
  background-color: #1d2977;
  width: 750px;
  height: 550px;
  margin-top: 80px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.videocircle {
  cursor: pointer;
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 20px 6px rgba(255, 255, 255, 0.5);
  background-color: rgb(248, 243, 243);
  border-radius: 50%;
}
.bottominfocontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
#Composable {
  font-size: 49px;
  font-weight: bolder;
  color: rgb(24, 26, 28);
}
#streamline {
  margin-top: 20px;
}
.cardscontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}
.griditem {
  height: 330px;
  width: 380px;

  border-radius: 10px;
  box-shadow: 0px 0px 10px 6px #f6f6f7;
}
.cardsflexcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 1.3vw 1.3vw;
}
.firstline {
  width: fit-content;
  background-color: #defffe;
  color: #296968;
  padding: 5px 10px;
  font-weight: lighter;
  border-radius: 20px;
}
.secondline {
  font-size: 28px;
  font-weight: bolder;
  color: #000000;
  padding: 10px 0;
}
.thirdline {
  padding: 20px 0;
  font-weight: lighter;
}
.fourthline {
  text-decoration: underline;
}
.greenarrow {
  color: #05bdba;
  font-size: 20px;
  margin-left: 10px;
}
#datalayer {
  background-color: #edf4ff;
  color: #7989ca;
  font-weight: lighter;
}
#visualeditor {
  background-color: #fdf5d8;
  color: #603408;
  font-weight: lighter;
}
#lastboxthirdline {
  margin-bottom: 19px;
}
